[submodule "genrl/reward/VideoAlign"]
	path = genrl/reward/VideoAlign
	url = https://github.com/ModelTC/VideoAlign.git
[submodule "genrl/reward/HPSv3"]
	path = genrl/reward/HPSv3
	url = https://github.com/ModelTC/HPSv3.git
