run_name: wan_2_1_t2v_1_3b_diffusers
project_name: LongCat
seed: 42
allow_tf32: true
cudnn_deterministic: true
cudnn_benchmark: false
num_epochs: 100000
eval_freq: 30
initial_eval: false
save_freq: 100
num_checkpoint_limit: 3
height: 480
width: 832
frames: 81
reward_fn:
  hpsv3_general: 1.0
  hpsv3_percentile: 1.0
  videoalign_mq: 1.0
  videoalign_ta: 1.0
eval_reward_fn: null
reward_module: null
eval_reward_module: null
prompt_fn: filtered_prompts
trainer: wan
use_lora: true
per_prompt_stat_tracking: true
paths:
  save_dir: logs/longcat
  dataset: datasets/filtered_prompts
  pretrained_model: /data/models/Wan2.1-T2V-1.3B-Diffusers
  resume_from: null
sample:
  batch_size: 8
  eval_batch_size: 2
  num_batches_per_epoch: 1
  num_steps: 16
  eval_num_steps: 50
  guidance_scale: 4.5
  eval_guidance_scale: 4.5
  num_video_per_prompt: 4
  kl_reward: 0
  global_std: false
  max_group_std: true
  same_latent: true
  noise_level: 1.0
  sde_window_size: 1  # If > 0, only train on a random window of this size. If 0, train on all timesteps (excluding last).
  sde_window_range: [0, 6]  # Range for randomly selecting the window start position when sde_window_size > 0
  sde_type: flow_sde  # 'flow_sde' or 'flow_cps'
  diffusion_clip: true
  diffusion_clip_value: 0.45
train:
  batch_size: 8
  gradient_accumulation_steps: null  # auto: (num_batches_per_epoch * sample_time_per_prompt // 2) or 1
  num_inner_epochs: 1
  timestep_fraction: 0.99
  beta: 0.004
  learning_rate: 1.0e-4
  clip_range: 1.0e-3
  adv_clip_max: 5.0
  max_grad_norm: 1.0
  adam_beta1: 0.9
  adam_beta2: 0.999
  adam_weight_decay: 0.0001
  adam_epsilon: 1.0e-08
  use_8bit_adam: false
  ema: true
  ema_decay: 0.9
  ema_update_interval: 8
  cfg: true
  full_finetune: false
  lora_path: null
  loss_reweighting: longcat
  weight_advantages: true  # If true, compute advantages for each reward separately, then weight them; if false (default), weight rewards first then compute advantages
  lora_r: 128
  lora_alpha: 64
  lora_target_modules:
    - to_k
    - to_out.0
    - to_q
    - to_v
    - net.0.proj
    - net.2
accelerate:
  distributed_type: FSDP
  mixed_precision: bf16
  num_processes: 8
  num_machines: 1
  machine_rank: 0
  fsdp_config:
    auto_wrap_policy: transformer_based_wrap
    backward_prefetch: backward_pre
    forward_prefetch: true
    cpu_ram_efficient_loading: false
    cpu_offload: false
    sharding_strategy: full_shard
    state_dict_type: sharded_state_dict
    sync_module_states: false
    use_orig_params: true
    activation_checkpointing: true

